main{
  min-height: 100vh;
  margin-bottom: -160px;
}

.adjust-footer,.push{
  height: 160px;
}

label{
  color:black;
 }

 .profile{
   margin: 50px auto;
   width: 70%;
   border: 2px solid grey;
   border-radius: 10px;
   box-shadow: 10px 8px gray;
 }

 .profile-img{
   width: 150px;
   height:150px;
   border-radius: 100%;
 }

