.icon{
  font-size: 2rem;
}

.logo{
  height: 5rem;
  width: 10rem;
}

// .navbar{
//   // background-color: #01257D;
//   // #00FFFF
//   position:fixed;
// }

.nav-link{
  font-size: 20px;
}

.nav-item{
  cursor: pointer;
}

.profile{
  height: 40px;
  width: 40px;
}

span{
  font-family: sans-serif;
}
