<div class="d-flex footer">
  <div class="col-4 ps-3">
    <img src="../../assets/logo.png" alt="logo" class="logo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Molestiae mollitia earum.</p>
  </div>
  <div class="col-4 middle">
    <h3>Contact Us</h3>
    <ul class="">
        <li class="">Instagram <i class="bi bi-instagram"></i></li>
        <li class="">Facebook <i class="bi bi-facebook"></i></li>
        <li class="">Twitter <i class="bi bi-twitter"></i></li>
        <li class="">Email <i class="bi bi-envelope-at"></i></li>
    </ul>
  </div>
  <div class="col-4 ps-3">
    <img src="../../assets/download.png" alt="download" class="download">
  </div>
</div>
